@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	overflow-x: hidden;
}

@keyframes scroll-ltr {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-50%);
	}
}

@keyframes scroll-rtl {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(50%);
	}
}

.animate-scroll-ltr {
	animation: scroll-ltr 40s linear infinite;
}

.animate-scroll-rtl {
	animation: scroll-rtl 40s linear infinite;
}

@keyframes wiggle {
	0%,
	100% {
		transform: rotate(-8deg);
	}
	50% {
		transform: rotate(8deg);
	}
}

@layer utilities {
	.animate-wiggle {
		animation: wiggle 0.4s ease-in-out infinite;
	}
}
